*{
    margin: 0;
    padding: 0;
}

body{
    margin-left: 10%;
    margin-right: 10%;
}
nav{
    background-color: blue;
    padding-top: 15px; 
}


.navbar{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-top: -1%;
    padding-bottom: 1%;
}

.navbar button{
    background-color: white;
    border-radius: 50px;
    margin-left: 20px;
    padding: 3px 10px 3px 10px;    
}

.view1{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5%;
}

.movil{
   width: 15%;
   height: 70%;
   position: absolute;
   z-index: 1;
}

.circle{
    width: 25%;
    position: absolute;
    z-index: -1;   
}
