*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#logo {
    scroll-margin-top: 70px;
}

#descarga{
    scroll-margin-top: 70px;
}

body{
    background-color: #F8F9FA;
}

header{
    background-color: #FFFFFF;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    padding: 5px 10%;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    font-family: 'Kanit';
}

header .logo{
    margin-right: auto;
    cursor: pointer;
}

.logo a{
    text-decoration: none;
    color: black;
}

nav .navbar{
    list-style: none;
}

nav .navbar li{
    display: inline-block;
    padding: 0 20px;
    font-size: 700;
    color: black;
    text-decoration: none;
}

nav .navbar li a{
    font-size: 700;
    color: black;
    text-decoration: none;
}

nav .navbar li a:hover{
    color: #2937F0;
}

header .btn button{
    color: #FFFFFF;
    padding: 9px 25px;
    background-color: #2937F0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

header .btn button:hover{
    background-color: #FFFFFF;
    color: black;    
}

.icons{
    padding-right: 8px;
}

.view1{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 5%; 
}

.view1 .text1{
    padding: 40px;
    margin-top: 20%;
}

.text1 h1{
    font-size: 70px;
    font-family: 'Newsreader';
}

.text1 p{
    font-size: 20px;
    color: #6C757D;
    font-family: 'Mulish';
}

.img2{
    margin-top: 10%;
}


.movil{
    width: 15%;
    height: 68%;
    margin-left: -225px;
    position: absolute;
    border-radius: 28px;
}


.fondo{
    width: 32%;
    height: 111%;
    margin-left: 250px;
    margin-top: 6px;
    border-radius: 28px;
    z-index: 1;
    animation: animate 3s linear infinite;
}

@keyframes animate{	
    0%{		
        filter: hue-rotate(0deg);	
    }100%{		
        filter: hue-rotate(360deg);	
}}

.circle{
    width: 25%;
    margin-left: 150px;
    padding-top: 45px;
    position: absolute;
    z-index: -1;
}


.view2{
    background-image: url(./means/images/fondo-view-2.jpg);
    filter: contrast(80%);
    height: 600px;
    width: 100%;
    margin-top: 125px;
}

.view2 .p1{
    font-size: 70px;
    color: #FFFFFF;
    font-weight: bold;
    padding-top: 10%;
    margin-left: 8%;
    font-family: 'Newsreader';
}

.view2 .btn2 button{
    color: #FFFFFF;
    padding: 15px 20px;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 8%;
    margin-top: 2%;
    font-family: 'Mulish';
}

.btn2 button:hover{
    animation: boton 0.5s ;
}

@keyframes boton{
    0%{
        rotate: 0deg;
    }100%{
        rotate: -500deg;
    }
}

.movil2{
    width: 15%;
    height: 68%;
    position: absolute;
    z-index: 1;
    margin-left: -14%;
    margin-top: 5%;
    position: absolute;
    overflow: hidden;
}


.fondo2{
    width: 34%;
    height: 100%;
    margin-left: 272px;
    margin-top: 13%;
    z-index: -1;
    border-radius: 28px;
    animation: animate 3s linear infinite;
}   

@keyframes animate{	
    0%{		
        filter: hue-rotate(0deg);	
    }100%{		
        filter: hue-rotate(360deg);	
}}


.circle2{
    width: 25%;
    position: absolute;
    z-index: -1;
    margin-top: 8%;
    margin-left: 7%;
}

.view3{
    display: grid;
    grid-template-columns: 40% 60%;
}

.img3{
    margin-top: 15%;

}
.text3{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: 50% 50%;
    transform: translate(-0%,30%);
    text-align: center;
    position: relative;
}    

.text3 h2{
    font-family: 'Kanit';
}

.text3 p{
    font-family: 'Mulish';
    color: #6C757D;
}

.paragraph{
    padding-top: 30px;
}

footer{
    margin-top: 15%;
    background-color: black;
    height: 100px;
    padding-top: 30px;
}

footer p{
    color: #7C7A7C;
    text-align: center;
}

.icons2{
    width: 60px;
    
}

#herramientas:nth-child(1) a, #descarga:nth-child(2){
    color: #2937F0;
}

@media screen and (max-width: 576px){
    .header{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 40%;
        text-align: center;
        font-size: 12px;
    }

    .btn button{
        width: 100%;
        display: flex;
        flex-direction: initial;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-basis: 30%;
        text-align: center;
        font-size: 14px;
    }
 }   

@media screen and (max-width: 576px){
   .container{
        width: 100%;
        margin-left: -5%;
    }

    .view1{
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
        margin-left: -2%;
    }

    .view1 h1{
        font-size: 30px;
    } 

    .view1 p{
        width: 100%;
        font-size: 15px;
        text-align: justify;
    }

    .img2 .circle{
        width: 70%;
        margin-left: 55px;      
    }
    
    .img2 .movil{
        width: 40%;
        height: 40%;
        position: absolute;
        margin: auto;
        margin-left: -38%;
    }

    .img2 .fondo{
        width: 36%;
        height: 113%;
        margin-left: 32%;
    }


    .view2{
        width: 105%;
        height: 200px;
        background-size: 600px;
        font-size: 15px;
        text-align: justify;
    }

    .view2 .p1{
        font-size: 25px;
    }

    .view2 .btn2{
        width: 100%;
    }

    .view3 {
        width: 100%;
        display: grid;
        grid-template-columns: 100%;
    }

    .view3 .text3{
        display: grid;
        grid-template-columns: 100%;
        margin-top: -15%;
        margin-left: 15%;
    }

    .view3 .text3 p{
        font-size: 14px;
    }
    
    .img3{
        width: 100%;
    }

    .img3 .circle2{
        width: 70%;
        margin-left: 55px;      
    }
    
    .img3 .movil2{
        width: 40%;
        height: 40%;
        position: absolute;
        margin: auto;
        margin-left: -38%;
    }

    .img3 .fondo2{
        width: 36%;
        height: 118%;
        margin-left: 48%;
        position: relative;
        margin-top: -1%;
        padding-top: 5px;
    }


    footer{
       margin-top: 650px;
       width: 105%;
    }

}